<div class="content__title">
    <h1>本月天气及降水量展示</h1>
</div>

<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <div class="mb-sm text-right">
                <nz-dropdown>
                    <button nz-button nz-dropdown [disabled]="!_allChecked && !_indeterminate">
                        <span>Export</span> <i class="anticon anticon-down"></i>
                    </button>
                    <ul nz-menu>
                        <li nz-menu-item>Excel</li>
                        <li nz-menu-item>JSON</li>
                        <li nz-menu-item>PNG</li>
                    </ul>
                </nz-dropdown>
            </div>
            <nz-table #nzTable
                      [nzAjaxData]="list"
                      [nzShowSizeChanger]="true"
                      [nzLoading]="loading"
                      [nzTotal]="total"
                      [(nzPageIndex)]="pi"
                      (nzPageIndexChange)="load()"
                      [(nzPageSize)]="ps"
                      (nzPageSizeChange)="load()">
                <thead nz-thead>
                <tr>
                    <th nz-th [nzCheckbox]="true">
                        <label nz-checkbox
                               [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                               (ngModelChange)="_checkAll()">
                        </label>
                    </th>
                    <th nz-th><span></span></th>
                    <th nz-th><span>城市</span></th>
                    <th nz-th><span>温度</span></th>
                    <th nz-th><span>天气</span></th>
                    <th nz-th><span>风向</span></th>
                    <th nz-th><span>风级</span></th>
                    <th nz-th><span>降水量</span></th>
                    <th nz-th><span>日期</span></th>
                </tr>
                </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td [nzCheckbox]="true">
                        <label nz-checkbox [(ngModel)]="data.checked"
                               (ngModelChange)="refChecked()">
                        </label>
                    </td>
                    <td nz-td>
                        <nz-avatar [nzSrc]="'assets/img/cond_icon/'+data.img + '.png'" [nzSize]="'large'" style="background-color:#fff;"></nz-avatar>
                    </td>
                    <td nz-td>{{data.city}}</td>
                    <td nz-td>{{data.temp}} ℃</td>
                    <td nz-td>{{data.weather}}</td>
                    <td nz-td>{{data.wind_direction}}</td>
                    <td nz-td>{{data.wind_level}}</td>
                    <td nz-td>{{data.total_precitation}} mm</td>
                    <td nz-td>{{data.date | _date: 'YYYY年MM月DD日'}}</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
