<div class="top-nav-wrap">
    <ul class="top-nav" style="text-align: center;display: block;margin: auto;">
        <!-- Menu -->
        <li><h3 class="expanded" style="max-height:40px;color: #fff;">山洪灾害防汛预警平台</h3></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><h3 class="collapsed" style="max-height:30px;color: #fff;">龙山指挥中心</h3></li>
    </ul>
    <ul class="top-nav">
        <!-- Settings -->
        <li class="hidden-xs">
            <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
                <div class="item" nz-dropdown>
                    <i class="anticon anticon-setting"></i>
                </div>
                <div nz-menu style="width:200px">
                    <div nz-menu-item class="theme-switch">
                        <header-theme></header-theme>
                    </div>
                    <div nz-menu-item>
                        <header-fullscreen></header-fullscreen>
                    </div>
                </div>
            </nz-dropdown>
        </li>
    </ul>
</div>
